@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Dancing+Script:wght@400..700&family=Kaushan+Script&display=swap');

.font-dancingscript {
    font-family: 'Dancing Script', cursive;
}

.font-cinzel {
    font-family: 'Cinzel', serif;
}

@keyframes cardEntrance {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.grid>div {
    animation: cardEntrance 0.6s ease-out forwards;
    opacity: 0;
    animation-delay: calc(var(--index) * 0.1s);
}

::-webkit-scrollbar {
    width: 8px;
    background: #111827;
    /* gray-900 */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #a855f7, #6366f1);
    /* purple-500 to indigo-500 */
    border-radius: 4px;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}